{
  "bot": {
    "token": "BOT TOKEN"
  },

  "twitch": {
    "username": "",
    "password": "",
    "prefix": ""
  },

  "guilds": {
    "main": "MAIN GUILD ID",
    "admin": "ADMIN GUILD ID"
  },

  "db": {
    "user": "DATABASE USER",
    "password": "DATABASE PASSWORD",
    "name": "DATABASE NAME"
  },

  "colors": {
    "main": ""
  },

  "embeds": {
    "footer": ""
  },

  "roles": {
    "moderator": ""
  }
}
