{
    "bot":{
        "token":"BOT TOKEN HERE"
    },

    "guilds" : {
        "main" : "GUILD ID FOR MAIN GUILD HERE",
        "admin" : "GUILD ID FOR ADMIN GUILD HERE"
    },

    "db" : {
        "user" : "DATABASE USERNAME",
        "password" : "DATABASE PASSWORD",
        "name" : "DATABASE NAME"
    },

    "colors" : {
        "main" : "HEX COLOR FOR MAIN COLOR USING IN EMBED"
    },

    "embeds" : {
        "footer" : "TEXT FOR FOOTER OF EMBEDS"
    },

    "roles" : {
        "moderator" : "MODERATOR ROLE IN MAIN GUILD"
    }
}